<footer class="text-white bg-footer p-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p class="h5 lh-sm mb-3">Qui sommes nous ?</p>
        <p>Twiga Power, spécialiste de l’électricité en RDC, propose des solutions durables pour un avenir responsable.
        </p>
      </div>
      <div class="col-md-3">
        <p class="h5 lh-sm mb-3">Coordonnées</p>
        <p class="mb-1">
          <i class="bi bi-geo-alt-fill"></i> App. 1101 Immeuble Luxury Tower
          <br />
          Royal Kinshasa/Gombe
        </p>
        <p class="text-white fw-medium mb-1">
          <i class="bi bi-phone fs-5"></i>
          <a href="tel:+243842594558" class="text-decoration-none text-white" target="_blank">+243 839 302 367</a>
        </p>
        <p class="text-white fw-medium mb-1">
          <i class="bi bi-envelope fs-5"></i>
          <a href="mailto:contact@fondationarlettesita.org" class="text-decoration-none text-white"
            target="_blank">contact@twigapower.com</a>
        </p>
      </div>
      <div class="col-md-3">
        <p class="h5 lh-sm mb-3">Liens rapides</p>
        <ul class="list-unstyled">
          <li>
            <a href="{% url 'home' %}" class="text-white text-decoration-none"><i class="bi bi-chevron-right"></i>
              Home</a>
          </li>
          <li>
            <a href="{% url 'home' %}#services" class="text-white text-decoration-none"><i
                class="bi bi-chevron-right"></i> Services</a>
          </li>
          <li>
            <a href="{% url 'projects' %}" class="text-white text-decoration-none"><i class="bi bi-chevron-right"></i>
              Projets</a>
          </li>
          <li>
            <a href="{% url 'about' %}" class="text-white text-decoration-none"><i class="bi bi-chevron-right"></i> Qui
              sommes nous ?</a>
          </li>
          <li>
            <a href="{% url 'contact' %}" class="text-white text-decoration-none"><i class="bi bi-chevron-right"></i>
              Nous contacter</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <p class="h5 lh-sm mb-3">Suivez-nous</p>
        <p>Suivez-nous sur nos réseaux sociaux :</p>
        <div class="d-flex gap-3">
          <a href="#" target="_blank" class="text-white"><i class="bi bi-facebook fs-4"></i></a>
          <a href="#" target="_blank" class="text-white"><i class="bi bi-linkedin fs-4"></i></a>
          <a href="#" target="_blank" class="text-white"><i class="bi bi-twitter-x fs-4"></i></a>
          <a href="#" target="_blank" class="text-white"><i class="bi bi-instagram fs-4"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center p-2">
    <p class="fw-medium mt-3">© 2025 Twiga Power. Tous droits réservés.</p>
  </div>
</footer>