{% load static i18n %}

<ul class="partners-section__logos list-unstyled mb-0" role="list">
  {% for logo in partner_logos %}
  <li class="partners-section__item" role="listitem">
    <a
      href="{{ logo.url }}"
      class="partners-section__link"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="{{ logo.alt }}"
    >
      <img
        src="{% static logo.src %}"
        alt=""
        class="partners-section__logo img-fluid"
        loading="lazy"
        decoding="async"
        width="240"
        height="120"
      />
    </a>
  </li>
  {% endfor %}
</ul>
