{% extends 'base.html' %}
{% load static %}

{% block base %}
{% include 'components/navbar.html' %}

<div class="container">
  <div class="row justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="col-md-8 text-center">
      <img src="{% static 'images/logo_twiga.webp' %}" alt="Twiga Power" class="mb-4" style="max-height: 100px;">
      <h1 class="text-danger mb-4">Site en construction</h1>
      <p class="lead mb-4">
        Nous travaillons actuellement à l'amélioration de notre site web.
        <br>
        Merci pour votre patience.
      </p>
      <div class="border-top pt-3">
        <p>
          Pour toute demande urgente, contactez-nous à :
          <br>
          <strong>contact@twigapower.com</strong> | <strong>+243 XX XXX XX XX</strong>
        </p>
      </div>
    </div>
  </div>
</div>

{% include 'components/footer.html' %}
{% endblock base %}